@import 'icon';
@import 'variables';
@import 'colors';

.board-list-container {
    display: flex;
    flex-direction: column;
}

.board-list__link {
    text-decoration: none;
    color: black;
}

.board-list {
    margin-top: 35px;
}

.board-list__items {
    display: flex;
    align-items: flex-start;    
    overflow-x: auto;
    padding-bottom: 20px;
}

.board-card {
    display: flex;
    border-radius: 13px;
    flex-direction: column;
    min-width: 362px;
    margin-left: 30px;
    padding: 20px;
    margin-top: 16px;
    max-width: 362px;
}

.board-card:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.board-list__name {
    font-size: $board-list-header-size;
    font-family: $main-font;
    margin-left: 30px;
}

.board-card__name {
    font-family: $main-font;
    font-size: $board-item-header-size;
}

.board-card__description {
    font-family: $main-font;
    font-size: $paragraph-size;
    opacity: $text-opacity;
}

.board-card__footer {
    display: flex;
    margin-top: 27px;
}

.board-card_users-group {
    display: flex;
}

.board-card__user-item {
    width: 30px;
    height: 30px;
    margin-right: -13px;
}

.board-card__arrow {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.board-card__user-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
}

.board-card__users-quantity {
    color: white;
    font-size: 9px;
    font-family: $main-font;
}

.board-list_add {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed $grey;
    height: 144px;
}

.board-list_create_board {
    font-family: $main-font;
    font-size: $board-item-header-size;
}

.board-card__grey {
    background: $grey;
}

.board-card__grey:hover {
    background: #E4E0E0;
}

.board-card__sky {
    background: $sky;
}

.board-card__sky:hover {
    background: #D0E5EE;
}

.board-card__pink {
    background: $pink;
}

.board-card__pink:hover {
    background: #EBE0F5;
}

.board-card__yellow {
    background: $light-yellow;
}

.board-card__yellow:hover {
    background: #F5E4D1;
}

.board-card__green {
    background: $light-green;
}

.board-card__green:hover {
    background: #DAF7EA;
}

.board-card__purple {
    background: $purple;
}

.board-card__purple:hover {
    background: #E4E4F7;
}

.board-card__peach {
    background: $peach;
}

.board-card__peach:hover {
    background: #F0D5D5;
}

.board-list__menu {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -25px;
}

.board-list__menu-item {
    font-family: $main-font;
    font-size: 20px;
    margin-right: 26px;
}

@media screen and (max-width: 450px) {
    .board-list__menu-item {
        display: none;
    }

    .board-list__name {
        font-size: $board-list-header-size-mobile;
        margin-left: 16px;
    }

    .board-card__name {
        font-size: $board-item-header-size-mobile;
    }

    .board-card__description {
        font-size: $paragraph-size-mobile ;
    }

    .board-card {
        max-width: 220px;
        min-width: 220px;
        padding: 16px;
        height: 130px;
        margin: 9px 0px 0px 14px;
    }

    .board-card__footer {
        margin-top: 18px;
    }

    .board-card__user-item {
        height: 24px;
        width: 24px;
    }

    .board-list {
        margin-top: 30px;
    }
    
}