.content {
    display: flex;
    flex-direction: column;
}

.brackets-container {
    display: flex;
    flex-direction: row;  
    margin: 15px 0px 0px 30px;
    overflow-x: auto;  
}

.brackets-board__list-name {
    display: flex;
}

.brackets-board__list {
    display: flex;
    flex-direction: column;
}

.brackets-board__more {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.brackets-board__more-icon {
    background: url('../static/svg/combinedShape.svg') no-repeat center;
    height: 6px;
    width: 32px;
}

.brackets-board__name {
    font-family: $main-font;
    font-size: $board-item-header-size;
}

.brackets-board__list-item {
    margin-right: 30px;
    background-color: $grey;
    max-width: 362px;
    min-width: 362px;
    border-radius: 13px;
    padding: 14px 20px 12px 20px;
    margin-bottom: 10px;
}

.brackets-board__users {
    display: flex;
}

.brackets-board__item-heading {
    font-family: $main-font;
    font-size: $board-item-header-size;
}

.brackets-board__add-users {
    background: black;
    border-radius: 50px;
}

.brackets-board__add-icon {
    background: url('../static/svg/+.svg') no-repeat center;
    width: 100%;
    height: 100%;
}

.brackets-board__footer-message {
    background: url('../static/svg/message-square-outline.svg') no-repeat center;
    width: $width-icon;
    height: $height-icon;
}

.brackets-board__footer-like {
    background: url('../static/svg/heart-outline.svg') no-repeat center;
    width: $width-icon;
    height: $height-icon;
}

.brackets-board__footer-pin {
    background: url('../static/svg/attach-outline.svg') no-repeat center;
    width: $width-icon;
    height: $height-icon;
}

.brackets-board__footer-actions {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.brackets-board__footer-action {
    display: flex;
    align-items: center;
    margin-left: 19px;
}

.brackets-board__action-quantity {
    font-size: $paragraph-size;
    opacity: $icon-opacity;
}

.brackets-board__footer {
    display: flex;
    margin-top: 26px;
}

.brackets-board__item-line {
    height: $line-height;
    width: $line-width;
    border-radius: 20px;
    margin-right: 8px;
}

.brackets-board__yellow-line {
    background: $yellow-line;
}

.brackets-board__item-lines {
    display: flex;
    margin-bottom: 9px;
}

.brackets-board__item-description {
    font-family: $main-font;
    font-size: 13px;
    opacity: $text-opacity;
    display: flex;
}

.brackets-board__blu-line {
    background: $blue-line;
}

.brackets-board__red-line {
    background: $red-line;
}

.brackets-board__purple-line {
    background: $purple-line;
}

.brackets-board__green-line {
    background: $green-line;
}

.brackets-board__sky-line {
    background: $sky-line;
}

.brackets-board__dark-red-line {
    background: $dark-red-line;
}

.brackets-board__photo {
    width: $width-photo;
    height: $height-photo;
    margin-bottom: 16px;
}

.brackets-board__new-card {
    border: 2px dashed $grey;
    width: 362px;
    height: 160px;
    border-radius: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brackets-board__add-card {
    font-family: $main-font; 
}

.container-navigation {
    display: flex;
    margin: 30px 0px 15px 0px;
}

.container-navigation__right-part {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.container-navigation__heart-icon {
    background: url('../static/svg/Heart.svg') no-repeat center;
}

.container-navigation__shape-icon {
    background: url('../static/svg/globe-2-outline.svg');
}

.container-navigation__hard-icon {
    background: url('../static/svg/Hard.svg');
}

.container-navigation__left-part {
    display: flex;
    align-items: center;
}

.container-navigation__icon {
    width: 19px;
    height: 19px;    
    margin-right: 10px;
}

.container-navigation__action {
    display: flex;
    align-items: center;
}

.container-name {
    font-size: $board-list-header-size;
    font-family: $main-font;
    margin-left: 30px;
    margin-right: 90px;
}
.container-navigation__shape {
    display: flex;
    align-items: center;
    margin-right: 10px;    
}

.container-navigation__shape-text {
    font-size: 18px;
    font-family: $main-font;
    opacity: $icon-opacity;
}

.container-navigation__border {
    width: 1px;
    height: 35px;
    background-color: $dark-grey;
    opacity: $icon-opacity;
    margin-right: 10px;
}

.container-navigation__users {
    display: flex;
    margin-right: 113px;
}

.container-navigation__user-icon {
    width: 40px;
    height: 40px;
    margin-right: -20px;
}

.container-navigation__menu-item {
    font-family: $main-font;
    font-size: 20px;
    margin-right: 26px;
}

@media screen and (max-width: 450px) {
    .container-navigation__left-part{
        flex-direction: column;
    }

    .container-navigation__right-part {
        align-items: flex-end;
    }

    .container-name {
        font-size: $board-list-header-size-mobile;
        margin-left: 18px;
    }

    .container-navigation {
        margin: 11px 16px 10px 16px;
    }

    .container-navigation__icon {
        width: $width-icon-mobile;
        height: $height-icon-mobile;
        margin-right: 6px;
    }

    .brackets-board__item-description {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: $paragraph-size-mobile;
    }
    .container-navigation__users {
        margin-right: 30px;
    }

    .container-navigation__user-icon {
        width: 30px;
        height: 30px;
    }

    .container-navigation__menu-item {
        font-size: $board-list-header-size-mobile;        
    }

    .container-navigation__border {
        height: 24px;
        margin-right: 6px;
    }

    .container-navigation__shape-text {
        font-size: $board-list-header-size-mobile;
    }

    .brackets-board__item-heading {
        font-size: $board-item-header-size-mobile;
    }

    .brackets-board__list-item {
        max-width: 288px;
        min-width: 288px;
    }

    .brackets-board__name {
        font-size: $paragraph-size-mobile;
    }

    .brackets-board__more-icon {
        width: 24px;
    }
    .brackets-board__footer-message {
        width: $width-icon-mobile;
        height: $height-icon-mobile;
    }

    .brackets-board__footer-like {
        width: $width-icon-mobile;
        height: $height-icon-mobile;
    }

    .brackets-board__footer-pin {
        width: $width-icon-mobile;
        height: $height-icon-mobile;
    }

    .brackets-board__action-quantity {
        font-size: $paragraph-size-mobile;
        margin-right: 3px;
    }

    .brackets-board__item-line {
        width: $line-width-mobile;
        height: $line-height-mobile;
    }

    .brackets-board__add-card {
        font-size: $board-item-header-size-mobile;
    }

    .brackets-board__photo {
        width: 256px;
    }

    .brackets-board__new-card {
        max-width: 288px;
        min-width: 288px;
    }
}