$grey : #F4F4F4;
$dark-grey : #979797;
$sky : #EEF7FB;
$pink : #F8F1FF;
$light-yellow : #FEF7EF;
$light-green : #EBFDF5;
$purple : #F4F4FF;
$peach : #F8E8E8;

$blue-line : #4339F2;
$yellow-line : #F8BD1C;
$red-line : #FF3838;
$purple-line : #891BE8;
$green-line : #1AD698;
$sky-line : #0AAAF4;
$dark-red-line : #E33233;