.icon {
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;

    &-navigation {
        background-image: url('../static/svg/navigation-icon.svg');
    }

    &-search {
        background-image: url('../static/svg/search-icon.svg');
    }

    &-arrow {
        background-image: url('../static/svg/arrow-icon.svg');
    }
}

@media screen and (max-width: 400px) {
    .icon {
    width: 20px;
    height: 20px;
    }
}
