$light-text-color-opacity: 0.4;
$main-font : 'Poppins';
$board-list-header-size : 26px;
$board-list-header-size-mobile : 16px;
$board-item-header-size : 16px;
$board-item-header-size-mobile : 14px;
$paragraph-size : 14px;
$paragraph-size-mobile : 12px;
$text-opacity: 0.4;