@import 'variables';
@import 'colors';
@import 'header';
@import 'icon';
@import 'boards';
@import 'bracketsPage';
@import 'button';

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

body::-webkit-scrollbar {
  width: 0;
}